html, body {
  height:100vh;
}
.browserTitle{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
  }


 