.avatar {
    display: flex;
    justify-content: center;
}

.Calendar{
    padding: 30px 40px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    
}
.flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
  }
  
  .flexRow{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:row; 
  }
