.avatar {
    display: flex;
    justify-content: center;
}

.Calendar{
    padding: 30px 40px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    
}

.question{
    padding-bottom: 2px;
    margin:left;


}