@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
  height: 100%;
  background: url('./yellow.jpg');
  background-size: cover;
  background-attachment: fixed;

}

#sideNav {
  z-index: 1;
  width: 200px;
  height: 100vh;
  overflow-y: hidden;
  border: 2px solid grey;
  float: left;
  padding: 0;
  margin: 0;
  opacity: 0.9;
  background-color: rgb(222, 225, 229);
}

#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  
}

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 250px;
}

.navItems {
  margin: 0 auto;
  float: left;
  width: 200px;
  display: block;
  font-size: 25px;
  padding: 15px 0;
  text-decoration: none !important;
  color: white;

}

.navItems:hover {
  background-color: rgb(179, 179, 179);
}

.dashSec {
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
}

#titleContainer {
  margin:0;
  padding:0;
  background-color:#f0f0f0;
  font-family:Muli, sans-serif;
  color:#444;
}

.title {
  float: right;
	position: relative;
	display: block;
}
.flexCenter{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
}

.flexRow{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:row; 
  font-family: 'Inconsolata', monospace;
  margin-left:7%;
}

.nav {  
  background-color:black;
  width: 100vw; 
  z-index: 1 !important;
  color:white;
}

/* .navbar1{
  justify-content: flex-end;
} */

.nav_b {
  display: inline-block;
  font-size: 23px;
  width: 100%;
}