.profile {
    position: relative;
    padding: 60px 70px;
    width: 60%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
}

/* 
.event {
    position: relative;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
} */